::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  background: rgba(95, 195, 195, 0.10);
  border: 1px solid #009595;

}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border: 7px groove #00b3b3;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 95, 95, 0.7);
}

* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
}

a {
  font-size: 1.3em;
  z-index: 1;
}

p {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.3em;
  color: #006060;
}

h1 {
  text-align: center;
  font-size: 2.6em;
  color: #006060;
  text-decoration: underline;
}



html, body {
    margin:0;
    padding:0;
    height:100%;
    background:#acd2d2;
 }


.header {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: #acd2d2;
}

.scrollpane {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 60vh;

  border-color:#00b3b3;
  border-style: ridge;
  border-width: 0px 2px 2px 2px;

}

.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.bordered {
  border-style: groove;
  border-width: 3px;
  border-color: #00b3b3;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  border-style: groove;
  border-width: 1px;
  border-color: #00b3b3;
}

hr.full {
  margin: 0.5em 0px 0.5em 0px;
  border-style: inset;
  border-color: #009595;
}

hr.bold {
  border-width:2px;
}

.sidebar {
  overflow: auto;
  border-width: 5px 3px 5px 0px;
  border-color:#00b3b3;
  border-style: ridge;

}

.content-main {
  background: #c6ecec;
  border-width: 2px 2px 2px 2px;
  border-style: ridge;
  border-color: #00b3b3;
  padding: 0px 0px 7px 0px;
  margin: 0px 0px 0px 0px;
}

.separator {
  background-color: #ffccee;
  height: 10px;
  border-style: solid;
  border-color: #00b3b3;
  border-width: 0px 0px 0px 8px;
}

.sidebar-button {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #ffccee;
  border-style: solid;
  border-color: #00b3b3;
  border-width: 0px 0px 0px 8px;
  font-size: 24px;
  display: block;
  cursor: pointer;
  padding: none;
  color: 	#2F847C;
  text-decoration: none;
}

.sidebar-button:hover {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #ff99dd;
  border-style: solid;
  border-color: #00b3b3;
  border-width: 0px 0px 0px 8px;
  font-size: 24px;
  display: block;
  cursor: pointer;
  padding: none;
  color: 	#2F847C;
  text-decoration: none;
}


.sidebar-button-current {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #00b3b3;
  border: none;
  font-size: 24px;
  display: block;
  cursor: pointer;
  padding: none;
  color: 	#ffccee;
  text-decoration: none;
}

.sidebar-button-current:hover {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #00a3a3;
  border: none;
  font-size: 24px;
  display: block;
  cursor: pointer;
  padding: none;
  color: 	#ffccee;
  text-decoration: none;
}

.sidebar-button-inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  height: auto;
}

.link-footer {
  overflow: visible;
  background: #c6ecec;
  border-color:#00b3b3;
  border-style: ridge;
  border-width: 0.01px 2px 2px 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height:auto;


}

.footer {
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
  position: relative;
}

.rainbow {
  background: rgba(255,214,209,1);
background: -moz-linear-gradient(-45deg, rgba(255,214,209,1) 0%, rgba(255,255,217,1) 20%, rgba(224,255,224,1) 40%, rgba(209,255,255,1) 60%, rgba(204,204,255,1) 81%, rgba(255,217,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,214,209,1)), color-stop(20%, rgba(255,255,217,1)), color-stop(40%, rgba(224,255,224,1)), color-stop(60%, rgba(209,255,255,1)), color-stop(81%, rgba(204,204,255,1)), color-stop(100%, rgba(255,217,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,214,209,1) 0%, rgba(255,255,217,1) 20%, rgba(224,255,224,1) 40%, rgba(209,255,255,1) 60%, rgba(204,204,255,1) 81%, rgba(255,217,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,214,209,1) 0%, rgba(255,255,217,1) 20%, rgba(224,255,224,1) 40%, rgba(209,255,255,1) 60%, rgba(204,204,255,1) 81%, rgba(255,217,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,214,209,1) 0%, rgba(255,255,217,1) 20%, rgba(224,255,224,1) 40%, rgba(209,255,255,1) 60%, rgba(204,204,255,1) 81%, rgba(255,217,255,1) 100%);
background: linear-gradient(135deg, rgba(255,214,209,1) 0%, rgba(255,255,217,1) 20%, rgba(224,255,224,1) 40%, rgba(209,255,255,1) 60%, rgba(204,204,255,1) 81%, rgba(255,217,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd6d1', endColorstr='#ffd9ff', GradientType=1 );
}
